@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Poppins', sans-serif;
}
/*header*/
#navbarSupportedContent {
    margin-left: 0px;
}

#navbarSupportedContent ul li a {
    margin-left: 25px;
    font: 1em sans-serif;
}
.nav-link {
    color:black !important;
}

.nav-link:hover {
    color: rgba(182, 135, 87, 1) !important;
}

.nav-link-active:hover {
    color: #fff !important;
    text-decoration: none;
}

.nav-link-active {
    color:rgba(182, 135, 87, 1) !important;
    text-decoration: none;
}
.lolo{
    color:rgba(182, 135, 87, 1) !important;
}
#su {
    font-size: 14px;
    color: white;
    background-color:rgba(182, 135, 87, 1) ;
     padding-left: 20px;
      padding-right: 20px;
    
    
}#su-1:hover {
    font-size: 14px;
    color:white;
    background-color:rgba(182, 135, 87, 1) ;
     padding-left: 20px;
      padding-right: 20px;
   
    margin-left: 10px;
}#su-0 {
    font-size: 14px;
    color: white;
    background-color:rgba(182, 135, 87, 1) ;
     padding-left: 20px;
      padding-right: 20px;
   
    
}#su-0:hover {
    font-size: 14px;
    color:rgba(182, 135, 87, 1);
    border: 1px solid rgba(182, 135, 87, 1);
    background-color: transparent;
     padding-left: 20px;
      padding-right: 20px;
    
}
#su-1 {
    font-size: 14px;
    color:rgba(182, 135, 87, 1);
    border: 1px solid rgba(182, 135, 87, 1);
     padding-left: 20px;
      padding-right: 20px;
    
    margin-left: 10px;
}.navbar-bg {
    min-height: 55px !important;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navbar-bg2 {
    background-color: grey;
    transition: all .2s ease-in-out;
    animation: smoothScroll 1s forwards;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}
/*footer*/
.atb {
    color: rgba(182, 135, 87, 1);
    margin-left: 30px;
    margin-top: 80px;
    font-size: 17px;

}

.py-1 {
    color: black;
    font-size: 14px;
}

.py-1:hover {
    color: rgba(182, 135, 87, 1);
}
.size {
    width: 35px;

    margin-left: 5px;
}/*platform*/
.rect {
    background-image: url('../Assets/img/Rectangle 166.png');
    height: 377px;
    width: 100%;
    margin-top: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img {
    position: relative;
    text-align: center;

}

.centered {
    
    text-align: center;
    display: flex;
    justify-content: center;
  padding-top: 10%;
    color: white;
    font-weight: bolder;
    font-size: 50px;
}

.para {

   
    text-align: center;
    display: flex;
    justify-content: center;
  
    color: white;
    font-size: 17px;


}.title {
    color:rgba(182, 135, 87, 1) ;
    font-size: 35px;
}

.title-2 {
    color: rgba(182, 135, 87, 1);
    font-size: 18px;
    font-weight: bold;
}

.paragrap-1 {
    color:black;
  
    font-size: 14px;
}
.title-3 {
    color:white ;
    font-size: 35px;
}

.title-4 {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.paragrap-2 {
    color:white;
  
    font-size: 14px;
}

#laptop {
    margin-top: 80px;

}

.laptop {
    width: 532px;

    margin-top: 100px;

    margin-bottom: 100px;
}

.learn {
    color: white;

    border-radius: 5px;
    font-size: 18px;
    font: sans-serif;
    font-weight: 400;

}

.platform {

    border-radius: 5px;
    font-size: 18px;
    font: sans-serif;
    font-weight: 400;
    background-color: hsl(212deg 22% 13%);
}

.laptop-group {
    width: 594px;
    margin-bottom: 40px;
}#merun{
    background-image: linear-gradient(140deg,rgba(99, 63, 29, 1),rgba(142, 101, 59, 1),rgba(168, 123, 76, 1));
height: 580px;
}#su-2 {
    font-size: 14px;
    color: rgba(182, 135, 87, 1) !important;
    background-color:white ;
     padding-left: 20px;
      padding-right: 20px;
   
    
}#su-2:hover {
    font-size: 14px;
    color:white !important;
    border: 1px solid white;
    background-color: transparent;
     padding-left: 20px;
      padding-right: 20px;
    
}#su-3 {
      font-size: 14px;
      color:white !important;
      border: 1px solid white;
      background-color: transparent;
       padding-left: 20px;
        padding-right: 20px;
    
}#su-3:hover {
    font-size: 14px;
    color: rgba(182, 135, 87, 1) !important;
    background-color:white ;
     padding-left: 20px;
      padding-right: 20px;
}.lap-1{
    margin-left: 10px;
}.tit {
    color:rgba(182, 135, 87, 1) ;
   
    text-align: center;
   
    font-size: 30px;
    font-weight: bolder;
    padding-top: 70px;
}
.csc{
   width: 35%;
 margin-left: 32%;
    margin-top: -15%;
}
/* #top {
    width: 70px;
    height: 70px;
} */

.card-1 {
    background-image: linear-gradient(140deg,rgba(181, 133, 85, 1),rgba(140, 97, 51, 1),rgba(94, 55, 15, 1));
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 100px;

}

.card-2 {
    background-color: hsl(0deg 0% 100%);
    border-radius: 5px;
    margin-top: 50px;

}

.card-title {
    margin-left: 60px;
    font-weight: bold;
    color: hsl(0deg 0% 100%);
}

.card-title-1 {
    margin-left: 30px;
    font-weight: bold;
    color:rgba(182, 135, 87, 1) ;
}

.card-title-2 {
    margin-left: 40px;
    font-weight: bold;
    color: hsl(225deg 18% 96%);
}

.card-title-3 {
    margin-left: 40px;
    font-weight: bold;
    color: hsl(215deg 87% 9%);
}

.card-text {
    text-align: center;
    font-size: 13px;
    color: hsl(225deg 18% 96%);
    margin-top: 20px;
}

.card-text-1 {
    text-align: center;
    font-size: 13px;
    
    margin-top: 20px;
}

.rmore {
    margin-left: 50px;
    color: hsl(215deg 85% 51%);
    font-weight: bold;
    margin-top: 30px;
}

.rmore-1 {
    margin-left: 50px;
    color: rgba(182, 135, 87, 1) ;
    font-weight: bold;
    margin-top: 90px;
}
.rmore-2 {
    margin-left: 50px;
    color: rgba(182, 135, 87, 1) ;
    font-weight: bold;
    margin-top: 70px;
}
.rmore-3 {
    margin-left: 50px;
    color: rgba(182, 135, 87, 1) ;
    font-weight: bold;
    margin-top: 50px;
}#lap-trade{
    width: 95%;
}#pen{
    border-left: 3px solid white;
}#pen-2{
    background-color: rgba(98, 62, 28, 1);
}
.card-title-7{
    font-size: 15px;
    margin-left: -35px;
    font-weight: bolder;
    color: white;
}.card-text-5{
    font-size: 9px;
    margin-left: -34px;
    color:white;
}

.card-title-8{
    font-size: 15px;
    margin-left: -35px;
    font-weight: bolder;
    color: white;
}.card-text-6{
    font-size: 9px;
    margin-left: -34px;
    color: white;
  
}
#pen-1{
    width: 40%;
    margin-top: 30px;
    margin-left: 20px;
}
    #merun-1{
        background-image: linear-gradient(140deg,rgba(99, 63, 29, 1),rgba(142, 101, 59, 1),rgba(168, 123, 76, 1));
    height: 500px;
    }.img-2 {
        position: relative;
        text-align: center;
       
    }
    
    .angle {
        position: relative;
        margin-top: 100px;
    
        height: 250px !important;
        width: 100%;
    
    }
    
    .read {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 30px;
    }
    
    .open {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    
    .lear-2 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white !important;
        font-size: 12px !important;
       font-weight: bold;
       margin-bottom: 30px;
        margin-top: 35px;
        background-color: rgba(92, 53, 12, 1) !important;
    } .lear-2:hover {
        background-color: transparent !important;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white !important;
        font-size: 12px !important;
       font-weight: bold;
       margin-bottom: 30px;
        margin-top: 35px;
       border: 1px solid rgba(92, 53, 12, 1);
    }

    /*market*/
    #bd-mg{
         background-image: url('../Assets/img/accounts-header_l.jpg.png');
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         height: 500px;
    }.start{
        padding-top: 15%;
        color: white;
        font-weight: 600;
    }.open-1{
        color: white;
        font-size: 20px;
        
    }.lorem-1{
        color: white;
        font-weight: lighter;
        font-size: 15px;
    }.core {
        
        
        font-size: 30px;
        text-align: center;
        color: black;
        padding-top: 50px;
    }
    .up {
        margin-top: -80px;
        margin-left: 25px;
    }
    .line {
        width: 5px;
        height: 80px;
    }
    
    .tran {
        color: rgba(182, 135, 87, 1);
    }
    
    .dolor {
        color: black;
    }.flag {
        height: 25px;
    }
    .vs{
        color: white;
    }
    tbody tr td {
        color: white;
        text-align: center;
    
    }
    
    tbody tr small {
        color: #adadad;
    }
    
    tbody tr th {
        color: white;
    }
    
    thead tr th {
        color: white;
    }
    
    .tab {
        color: white;
    }
    .tab-1 {
        color: white;
        margin-top: 80px;
    }
    .minor {
        margin-left: 100px;
        margin-top: -35px;
        color: white;
    }.choos{
        color: rgba(182, 135, 87, 1);
        display: flex;
        justify-content: center;
        text-align: center;
        
    }.we-1{
        display: flex;
        justify-content: center;
        text-align: center;
    }#vi-lap{
        width: 600px !important;
    }#ellip{
        width: 25px !important;
    }#fx-1{
        margin-left: -100px !important;
    }.fx-lorem{
        font-size: 10px;
        color: #adadad;
    }.what{
        display: flex;
        justify-content: center;
        text-align: center;
        color:rgba(182, 135, 87, 1);
    }#for{
        text-align: start;
        line-height: 30px;
    }#for-1{
        text-align: start;
        line-height: 30px;
        color: black;
    }#buts{
        background-image:linear-gradient(90deg,rgba(165, 121, 74, 1),rgba(144, 102, 60, 1),rgba(115, 77, 40, 1));
        font-size: 25px;
        border-radius: 15px;
        color: white;
    }.fq{
        display: flex;
        justify-content: center;
        text-align: center;
        color: rgba(182, 135, 87, 1);
    }
    /*home*/
    .bg {
        background-image: url('../Assets/img/image 13.png');
        height: 550px !important;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        

    
    }
    .ex{
        margin-top: 35%;
    }
    .fund{
        color: rgba(182, 135, 87, 1);
        font-weight: bolder;
    }.fund-1{
        color: rgba(182, 135, 87, 1);
        font-weight: bolder;
    }
    .btn-1{
        background-color:rgba(171, 124, 78, 1) !important;
        color:white !important;
        position: absolute;
        border-radius: 10px !important;
        font-size: 15px;
        font-weight: bold;
        padding: 10px 20px 10px 20px !important;
    }.btn-1:hover{
        background-color:transparent !important;
        border-color: rgba(171, 124, 78, 1) !important;
        color: rgba(171, 124, 78, 1) !important;
    }.lat{
        width: 450px;
      
    }.full{
        color: black;
    }.sss{
        margin-left: 50%;
        margin-top: -25%;
    }
    /* .ex {
       left: 18%;
        transform: translate(-50%, -50%);
        color: black;
        margin-top: 20%;
        font-size: 25px;
    }
    
    .para-1 {
       
        
       
        transform: translate(-50%, -50%);
        color: black;
        font-weight: normal;
        font-size: 16px;
    
    
    
    }
    
    .fund {
        
       
        left: 18%;
        transform: translate(-50%, -50%);
        color: rgba(182, 135, 87, 1);
    
        font-size: 37px;
    }
    
    .fund-1 {
        position: absolute;
        
        
        transform: translate(-50%, -50%);
        color: rgba(182, 135, 87, 1);
    
        font-size: 33px;
    }
    
    .btn-1 {
        background-color:rgba(171, 124, 78, 1) !important;
        color:white !important;
        position: absolute;
        border-radius: 10px !important;
        font-size: 15px;
        
        font-weight: bold;
    
        
        border-color: hsl(234deg 88% 56%);
        padding: 10px 20px 10px 20px !important;
    }
    
    .btn-1:hover {
        background-color:transparent !important;
        border-color: rgba(171, 124, 78, 1) !important;
        color: rgba(171, 124, 78, 1) !important;
    
    }
    
    .lat {
        width: 466px;
    
       
        margin-left: 723px;
    }
    
    .full {
        position: absolute;
       
        transform: translate(-50%, -50%);
        color: hsl(228deg 29% 97%);
    
        font-size: 10px;
    
    }
    
    .pips {
        position: absolute;
        
        transform: translate(-50%, -50%);
        color: hsl(234deg 88% 56%);
        font-weight: bolder;
        font-size: 20px;
    }
    
    #con {
        background-color: hsl(212deg 23% 13%);
    }
    
    .pure {
        position: absolute;
       
        transform: translate(-50%, -50%);
        color: hsl(228deg 29% 97%);
    
        font-size: 10px;
    } */
    @media (max-width:540px){
    .size {
        width: 35px;
      margin-left: 0px;
    }
    .navbar-bg {
        min-height: 55px !important;
        background-color:grey;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    
    .navbar-bg2 {
        background-color: grey;
        transition: all .2s ease-in-out;
        animation: smoothScroll 1s forwards;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    /*pltaform*/
    #merun{
        background-image: linear-gradient(140deg,rgba(99, 63, 29, 1),rgba(142, 101, 59, 1),rgba(168, 123, 76, 1));
    height: auto;
    }
    #merun-1{
        background-image: linear-gradient(140deg,rgba(99, 63, 29, 1),rgba(142, 101, 59, 1),rgba(168, 123, 76, 1));
    height: auto;
    }#mov{
        margin-top: 40px !important;
    }.open {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 11px;
    }.read {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 17px;
    }.angle {
        position: relative;
        margin-top: 100px;
        height: 140px !important;
        width: 100%;
    }#mmm{
        margin-top: -100px;
    }
    /*market*/
    #bd-mg{
        background-image: url('../Assets/img/accounts-header_l.jpg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
   }
    .lorem-1 {
        color: white;
        font-weight: lighter;
        font-size: 10px;
    }.start {
        padding-top: 30%;
        color: white;
        font-weight: 600;
    }.open-1 {
        color: white;
        font-size: 14px;
    }#fx-1 {
        margin-left: -40px !important;
    }
}
@media (min-width:1500px) and (max-width:1890px){
    .csc{
        
        width: 35%;
       
        margin-left: 32%;
        margin-top: -15%;
    }
}